body {
    font-family: Arial, sans-serif;

    background-image: linear-gradient(90deg, rgb(0, 132, 150), rgb(0, 51, 99), rgb(0, 1, 78), rgb(0, 51, 99), rgb(0, 132, 150));
      
  }
     
  h1 {
 
    text-align: center;
    margin-top: 60px;
    color: #ff2600;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    line-height: 2;
    
  }
     
  #guess-input {
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 18px;
    width: 250px;
    border: 1px solid #ccc;
  }
     
  #guess-button {
 
    display: block;
    text-align: center;
    margin: auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #116838;
    font-family: Verdana, Tahoma, sans-serif;
    color: #fff;
    border: rgb(0, 48, 0);
    border-radius: 3px;
    width: 80px;
    letter-spacing: 0px;
  
  }
     
  button:active {
      transform: scale(0.95);
  }
    



     
  .letter {
   color: white;
   font-family: 'Segoe UI', Tahoma, Verdana, sans-serif ;
      border: 2px solid black;
      font-weight: bold;
      padding: 10px;
      margin: 10px;
      min-width: 20px;
      text-align: center;
      display: inline-block;
      border-radius: 5px;
  }
     
  .row{
      margin-bottom: 10px;
      border-radius: 10px;
      text-align: center;
  }
  .grid{
   margin-bottom: 10px;
   border-radius: 10px;
   text-align: center;
 
  }
     
  .input-area{
      margin: 30px;
  }